body {
  margin: 0;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.container {
  display: grid;
  grid-auto-columns: 0.5fr, 1fr, 0.5fr; 
  grid-auto-rows: 1fr, 100px; 
  margin-top: 30px;
  grid-template-areas:
    'columm card column'
    'columm card2 column';  
}

.card {
  padding: 20px;
  grid-area: card;
  border-radius: 6px;
  /* border: 1px solid #ddd; */
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 45px;
  width: 100%;
  background-color: #43d29e;
  border-radius: 4px;
  color: #fff;
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
}

.input {
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-rendering: auto;
  padding-left: 10px;
  /* this ensured the width is not changing after adding padding-left */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  /* background-color: #3CBC8D;  */
}

h1 {
  color: #4a4f62;
}

 h4 {
  display: inline;
  color: #4a4f62;
 }

p {
  margin-bottom: 5px;
  color: #4a4f62;
}

.brand {
  font-size: 14px;
  margin-top: 10px;
  grid-area: card2;
  text-align: center;
}

.no-p-margin {
  margin: 0px;
}

.item-holder {
  margin: 0px 0px 20px 0px;
  display: none;
}

.main-title {
  margin-top: 0px;
  text-align: center;
  color: #4a4f62;
}

.close {
  float: right;
  margin-left: 10px;
}

.edit {
  float: right;
  margin-left: 10px;
}

.priority {
  float: right;
}

.card-item {
  padding: 20px;
  grid-area: card;
  border-radius: 6px;
  /* border: 1px solid #ddd; */
  background-color: #f6faff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

hr {
  height: 2px;;
  background-color: #fff;
  border: none;
  color: #fff;
}

.date {
  font-size: 12px;
  font-style: italic;
  color: #aec0d3;
}

.add {
  margin-bottom: 20px;
  text-align: center;
}
.fa-plus-square {
  color: #209bff;
}


.fa-plus-square:hover,
.fa-plus-square:focus {
  color: #3fb1ff;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    margin-top: 30px;
    grid-template-areas:
      'card'
      'card2';  
  }
  .card {
    margin-right: 20px;
    margin-left: 20px;
  }

  /* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
}

@media (max-width: 1200px) and (min-width: 600px) {
  .container {
    display: grid;
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    margin-top: 30px;
    grid-template-areas:
      'card'
      'card2';  
  }
  .card {
    margin-right: 100px;
    margin-left: 100px;
  }

  /* Modal Content */
.modal-content {
  margin: auto;
  width: 50%;
}
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* The Close Button */
.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}